.nav-elements {
  align-items: center;
  justify-content: center;
}
@media (min-width: 994px) {
  .topnav:hover {
    border-bottom: 3px solid red;
  }

  .topnav.active {
    border-bottom: 3px solid red;
  }
}
